# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
  mattermost-plugin-notify: nathanaelhoun/mattermost-plugin-notify@1.2.0

# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - mattermost-plugin-notify/approval-notification:
          message: Please @senior-developer approve this workflow
      - approved:
          requires:
            - mattermost-plugin-notify/approval-notification
          type: approval
      - welcome/run:
          requires:
            - approved
      - theEnd:
          steps:
            - mattermost-plugin-notify/status:
                failure_message: This very important job has failed! Ping @senior-developer
                success_message: 'Life is beautiful, my job has succeeded!'
          requires:
            - welcome/run

            
